html{
  font-size: 14px;
}


body {

  font-family: 'Rubik Spray Paint', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  
  font-size: 5.25rem;
  
}

.flyer {
  position: relative;
  color: #E8D1D9;
  background-image: url("./Assets/Images/flyer-bg-1.png");
 width: 320px;
 height: 568px;
 max-width: 100%;
 margin: 0 auto;

  

}




 .header{
  font-family: 'Dead Corporation', sans-serif;
font-size: 3.8rem;
padding: 0.2rem;
}

.artist-bg{
  width: 308px;
  height: 308px;
  margin: 0 auto;
  color: #FFEBE6
}


.artist-one{
  font-family: "DEVO", sans-serif;
  padding: 0.2rem;
 max-width: 284px;
  margin: 0 auto;
 
}

.artist-two{
  font-family: "Lily Clover", sans-serif;
  font-size: 2rem;
  padding: 0.2rem;
  margin: 0 auto;
  max-width: 284px;
}

.artist-three{
  font-family: 'JMH Typewriter', sans-serif;
  font-size: 1.6rem;
  padding: 0.2rem;
  margin: 0 auto;
  max-width: 284px;
  
}

.artist-four{
  font-family: 'Paramount', sans-serif;
  font-size: 1.4rem;
  padding: 0.2rem;
  margin: 0 auto;
  max-width: 284px;
  
}

.show-info{
 position: absolute;
 padding-bottom: 30px;
 bottom: 0;
 right: 0;
 left: 0;
  font-family: "Dead Corporation", sans-serif;
  font-size: 1.8rem;
}

