html{
  font-size: 14px;
}


body {

  font-family: 'Permanent Marker', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  font-size: 2.6rem;
}

.flyer {
  background-color: #B29EEb;
  padding: 20px;
  width: 300px;
  max-width: 320px;

}



 .header{
font-size: 2.2rem;
}

.artist-one{
  font-size: 1.8rem;
}

.artist-two{
  font-size: 1.6rem;
}

.artist-three{
  font-size: 1.4rem;
}

.artist-four{
  font-size: 1.2rem;
}

